body {
  font-family: var(--main-font);
  color: var(--primary-teхt-color);
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

.section {
  
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
  }
}