:root {
    --primary-te—Öt-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #f5f4fa;
    --title-white-color: #ffffff;
    --bg-grey-color: #2f303a;
    --main-font: "Roboto", sans-serif;
}