.team {
  background-color: var(--primary-bg-color);
 &__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
 
 }
 &__title {
   margin-bottom: 50px;
 }
}


.card__name {
  margin-top: 30px;
  margin-bottom: 30px;
}
.card {
  background-color: var(--title-white-color);
  border-radius: 0px 0px 4px 4px;
  // margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  
  
  &__text {
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      font-weight: 400;
      margin-top: 10px;
      margin-bottom: 16px;
    }
  &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      color: var(--title-text-color);
    }
    &:nth-child(4n) {
       margin-right: 0px;
    }
  @media screen and (min-width: 768px) {
       width: calc((100% - 30px) / 2);
     }
  @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }



.social {
  display: flex;
  justify-content: center;
  gap: 10px;
  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--title-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    transition-property: color, background-color;
    @include animation;
    &:hover, &:focus {
        background-color: var(--accent-color);
        color: var(--title-white-color);
      }
  }
}


.social__icon {
  fill: currentColor;
}